.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.sidebar-button {
  width: 200px;
  background-color: #516182;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-color: black;
  cursor: pointer;
  border-radius: 20px;
}

.login-logo{
  width: 280px;
  height: 280px;
}