:root {
  --dark-blue: #2c3c64;
  --mid-blue: #516182;
  --light-blue: #8fbeca;
  --gray-blue: #e5f3f9;
  --gray: #e6e6e6;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/Background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  opacity: 100%;
}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar-button {
  width: 200px;
  background-color: var(--mid-blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-color: black;
  cursor: pointer;
  border-radius: 20px;
}

.login-logo {
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
}

.login-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.email {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: black solid 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.spaced {
  margin-top: 5px;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin: 10px 0;
}

.textbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input::placeholder{
  font-style: italic;
}